/* ========================================= */
/* ============= GLOBAL STYLES ============= */
/* ========================================= */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

:root {
  --purple: #5342f4;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: white;

  background: #c3bec7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #8ca6db,
    #b993d6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #8ca6db,
    #b993d6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* tried starfield background but u can barely notice it
  background: url('../images/starfield.png') no-repeat fixed;
  background-size: cover; */
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  /* font-family: 'Major Mono Display', 'Geneva', 'Arial', sans-serif; */
}

a {
  text-decoration: none;
}

canvas {
  width: 100vw;
  height: 100vh;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button:hover {
  cursor: pointer;
}

#titleLink {
  color: white;
  background: none;
  padding: 1rem 0 0 1rem;
  position: absolute;
  font-size: 1.2rem;
}

#earthLink {
  color: white;
  background: none;
  padding: 1rem 0 0 1rem;
  position: absolute;
  font-size: 1.2rem;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

/* ========================================= */
/* =============== HOME PAGE =============== */
/* ========================================= */

.homeContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: url('./images/dark-starfield.png') no-repeat fixed;
  background-size: cover;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer button {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homeContainer button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px var(--purple);
  transition: box-shadow 0.5s ease;
  -webkit-transition: box-shadow 0.5s ease;
  /* background: var(--purple); */
  /* -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out; */
}

.homeContainer > * {
  margin: 1.5rem 0 1.5rem 0;
}

.homeContainer h1:hover {
  text-shadow: 0px 0px 20px var(--purple);
  transition: text-shadow 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
}

.homeText {
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  font-size: 0.9rem;
  justify-content: center;
}

.homeText p {
  font-family: 'Major Mono Display', 'Arial', sans-serif;
}

#particles {
  position: absolute;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
}

/* ========================================= */
/* =============== WISH FORM =============== */
/* ========================================= */

#wishForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: url('./images/starfield.png') no-repeat fixed;
  background-size: 40% cover;
}


#wishForm h1 {
  text-align: center;
}

#wishForm form {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wishForm p {
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 0.9rem;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.form-group {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* LEFT COLUMN OF FORM */
#wishForm label {
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  /* border: 3px solid red; */
  width: 30%;
  text-align: center;
}

/* RIGHT COLUMN OF FORM */
.form-inputs {
  width: 70%;
  /* border: 3px solid blue; */
}

input,
textarea {
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
}

textarea {
  height: 10rem;
}

/* ========================================= */
/* ============ MISSION CONTROL ============ */
/* ========================================= */

#missionControl {
  color: white;
  background: none;
  padding: 3rem 0 0 1rem;
  position: absolute;
  max-width: 300px;
}
#missionControl p {
  line-height: 1.4rem;
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  font-size: 0.9rem;
}

/* ========================================= */
/* ============= SINGLE PLANET ============= */
/* ========================================= */

#singlePlanet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
  padding: 2rem;
  max-height: 300px;
  overflow: scroll;
}

#singlePlanet h1 {
  font-size: 2rem;
}

#singlePlanetContent {
  display: flex;
}

#singlePlanetDescription {
  width: 40%;
  padding-right: 1rem;
}

#singlePlanetData {
  width: 60%;
  padding-left: 1rem;
}

/* #singlePlanet p {
  font-family: 'Major Mono Display', 'Arial', sans-serif;
} */

/* ========================================= */
/* ================= WISH ================== */
/* ========================================= */

#wish {
  color: white;
  background: none;
  top: 1rem;
  right: 1rem;
  position: absolute;
}
#wish p {
  line-height: 1.4rem;
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  font-size: 0.9rem;
}

#charLimit {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
}

#wishButton {
  width: 100%;
  margin-top: 2rem;
}

/* ========================================= */
/* ============ WISH SUBMITTED ============= */
/* ========================================= */

#wishSubmitted {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
}

/* #earthContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
} */

#wishSubmittedText {
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 2rem 0 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* ========================================= */
/* ============ END OF EXPLORATION ============= */
/* ========================================= */

#end-of-exp {
  position: absolute;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  flex-direction: column;
  padding: 2rem;
}

#eoe-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#end-of-exp p {
  text-align: center;
}

#eoe-message {
  padding: 1rem 0 1rem 0;
}

/* ========================================= */

#earthContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
}

#earthText {
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 2rem 0 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
